<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Administrations</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
<div class="container my-5">
    <div class="row">
        <div class="col-md-9">
            <h2>Administrations</h2>
            <a th:href="@{/api/socials/ui/generator}">generator</a>
            <br>
            <a th:href="@{/api/socials/ui/search}">search</a>
            <form action="#" th:action="@{/api/socials/ui/searchBy}" method="post">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="searchBy">search By</label>
                        <input type="text" th:name="searchBy" class="form-control" id="searchBy"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mt-5">
                        <input type="submit" class="btn btn-primary" value="search">
                    </div>
                </div>
            </form>
            <h2>Social extensions:</h2>
            <a th:each="serviceUrl : ${servicesUrl}" th:href="@{${serviceUrl.value}}" th:text="${serviceUrl.key}"></a>
        </div>
    </div>
</div>
</body>
</html>
